{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>🧪 Resolver práctica</title>

      <!-- Hotjar - Seguimiento usuarios -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:6485293,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  
  <script src="{% static 'jsme/jsme.nocache.js' %}"></script>
  <script>
    let jsmeApplet;

    function jsmeOnLoad() {
      jsmeApplet = new JSApplet.JSME("jsme_container", "600px", "400px", {
        options: "oldlook,star,query,hydrogens,noquery"
      });
    }

    function enviarMolecula() {
      const smiles = jsmeApplet.smiles();
      document.getElementById("mol_input").value = smiles;
      document.getElementById("form_practica").submit();
    }
  </script>
    <!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/aos/aos.css' %}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	


</head>
<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Page Banner START -->
{% include 'estudiante/base_banner_sup.html' %}
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container" style="max-width: 100%;">
		<div class="row">            
			<!-- Left sidebar START -->
			{% include 'estudiante/base_sidebar.html' %}			
			<!-- Left sidebar END -->
            <div class="col-xl-9">
                <h2>🧪 {{ practica.recurso.titulo }}</h2>
                <p>{{ practica.recurso.descripcion }}</p>

                <h4>🔬 Título objetivo:</h4>
                <p><strong>{{ practica.titulo_objetivo }}</strong></p>

                <h4>📝 Instrucciones:</h4>
                <p>{{ practica.instrucciones }}</p>

                <form id="form_practica" method="post">
                    {% csrf_token %}
                    <div id="jsme_container">Cargando editor...</div>
                    <textarea id="mol_input" name="mol_input" style="display:none;"></textarea>
                    <button style="margin: 15px;" class="btn btn-light" type="button" onclick="enviarMolecula()">Enviar intento</button>
                </form>                

            </div>
        </div>
    </div>
</section>
</main>
  
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js' %}"></script>
</body>
</html>
